@import "variables";
@import "mixins";
.anchor-form {
  @include button;
  max-width: 172px;
  max-height: 39px;
  padding: 0 22px;
  &__wrapper {
    position: relative;
  }
  &__icon {
    transition: opacity 0.3s;
  }
  &__icon-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  &__svg-border {
    position: absolute;
    top: -3px;
    left: -1px;
    transform: scale(1.01);
  }
  &:hover .anchor-form__icon {
    opacity: 0;
  }
  &:hover .anchor-form__icon-hover {
    opacity: 1;
  }
  @media (max-width: 900px) {
    order: 3;
  }
  @media (max-width: 375px) {
    //font-size: 11px;
    //line-height: 13px;
    //margin-top: 50px;
    min-height: 39px;
  }
  
}
