* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
p,
a,
div,
main,
header,
footer,
section,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style-type: none;
}

button,
select,
input,
textarea {
  font-family: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
