$black: #1d1b1b;
$red: #d31900;
$light-hover-red: #ce5848;
$yellow: #fcb80a;
$section-yellow: #fad244;
$border-yellow: #fbc99d;
$white: #f4f4f3;
$gray: #828282;
$light-gray: #f2f2f2;
$section-gray: #e0e0e0;
$text-column-width: 445px;
